<div
  class="row row-cols-1 row-cols-md-2 g-4"
  *ngIf="projects.length > 0; else noProjects"
>
  <div class="col" *ngFor="let project of projects">
    <div
      class="card"
      [ngClass]="project.done ? 'border-info' : 'border-warning'"
    >
      <div class="card-body">
        <span class="badge bg-secondary rounded-pill">{{ project.code }}</span>
        <span class="card-title ms-2">{{ project.name }}</span>
        <p class="card-text">
          {{ project.description }}
        </p>
        <button class="btn btn-primary btn-sm" (click)="select(project)">
          Vai al progetto
        </button>
      </div>
      <div
        class="card-footer"
        [ngStyle]="{ 'font-style': project.done ? 'italic' : 'normal' }"
      >
        <div class="text-muted">
          {{ project.start | date: "dd/MM/yyyy" }}
        </div>
        <div class="text-muted" *ngIf="project.end">
          {{ project.end | date: "dd/MM/yyyy" }}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noProjects>
  <p>Non è presente nessun progetto</p>
</ng-template>
