<form #f="ngForm" (ngSubmit)="submit(f)" row g-3>
  <div class="col-md-4">
    <label for="name" class="form-label">Nome</label>
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Nome"
      ngModel
      required
      #nameField="ngModel"
    />
    <p *ngIf="nameField.invalid && nameField.touched" class="text-danger">
      <small>Il campo è richiesto</small>
    </p>
  </div>
  <div class="col-md-4">
    <label for="priority" class="form-label">Priority</label>
    <select
      class="form-select"
      name="priority"
      ngModel
      #priorityField="ngModel"
      required
    >
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
    <p
      *ngIf="priorityField.invalid && priorityField.touched"
      class="text-danger"
    >
      <small>Il campo è richiesto</small>
    </p>
  </div>
  <div class="col-md-4">
    <label for="validationDefaultUsername" class="form-label">Username</label>
    <input
      type="date"
      name="start"
      class="form-control"
      placeholder="Data Inizio"
      ngModel
      #dateField="ngModel"
      required
    />
    <p *ngIf="dateField.invalid && dateField.touched" class="text-danger">
      <small>Il campo è richiesto</small>
    </p>
  </div>
  <div class="col-md-12">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      name="description"
      placeholder="Descrizione"
      ngModel
      #descriptionField="ngModel"
      required
    ></textarea>
    <p
      *ngIf="descriptionField.invalid && descriptionField.touched"
      class="text-danger"
    >
      <small>Il campo è richiesto</small>
    </p>
  </div>
  <div class="col-12">
    <button
      [disabled]="f.invalid"
      type="submit"
      class="w-100 btn btn-primary btn-lg my-2"
    >
      Crea
    </button>
  </div>
</form>
